/**——————————————————————————————————————————————**\
 *                MUSHMOBILE - CSS                *
 *                                                *
 *     Catégories :                               *
 *         - ajustements ;                        *
 *         - barre d'info ;                       *
 *         - onglets ;                            *
 *         - divers ;                             *
 *         - onglet Personnage ;                  *
 *         - onglet Vaisseau ;                    *
 *         - onglet Pièce ;                       *
 *         - éditeur de messages MushMobile ;     *
 *         - minimap MushMobile.                  *
 *                                                *
 * Les éléments MushMobile ont tous le préfixe MM *
 * pour les distinguer des éléments de base.      *
 * Les éléments de base sont modifiés au minimum  *
 * (tant que faire se peut pour que ça marche…).  *
 *                                                *
 * Les propriétés sont rangées plus ou moins dans *
 * l'ordre suivant : display, position, taille,   *
 * marges externes et internes, bordure, contenu. *
 *                                                *
 * Bonne lecture ! :hordes_lol:                   *
 *             LAbare                             *
\**——————————————————————————————————————————————**/





/*--------------------*\
  AJUSTEMENTS
\*--------------------*/

/* Le viewport et certains éléments sont réglés à 424 pixels de large : il s'agit de la largeur du jeu Flash, autour duquel est basé l'interface MushMobile. */
/* Retrait de nombreuses marges internes et externes pour éviter les trous et avoir une interface propre. */

/* Canaux privés invisibles : pas encore corrigé sur les serveurs anglais et espagnol */
.tid_editorContent { visibility: visible !important; }

/* Barre Twinoid : panneaux latéraux */
/* Les raccourcis et la recherche d'utilisateurs sont automatiquement cachés par le bar.css de Twinoid quand le viewport est réduit. */
.tid_sidePanel { z-index: 500 !important; }

/* Liens */
.mainmenu {
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	height: 27px;
	border-top: 2px #000440 solid;
	font-size: 10pt;
}

.mainmenu ul#menuBar li {
	margin-left: 0;
	margin-right: 15px;
}

.mainmenu ul#menuBar li:first-of-type {
	margin-left: 15px;
}

.mainmenu ul#menuBar li a {
	letter-spacing: 0;
	font-variant: small-caps;
}

/* Logo en arrière-plan, visible derrière la barre MushMobile et les liens qui ont un fond transparent */
.logo {
	top: -10px;
	z-index: -1;
}

.mxhead, #container_inside, #container_topright, #container_bg { padding: 0; }

/* Conteneur du logo, des liens, de la barre MushMobile et des onglets */
.mxhead {
	position: relative;
	background-color: rgba(15, 52, 119, 0.2);
}

#chat_col .cycletime { display: none; }

/* Conteneurs de base créant le fond et la forme « cadre à angles coupés » de Mush ; ils se superposent hideusement avec un viewport à 424px, donc à cacher */
#container_topright, #container_bottomleft, #container_bottomright, #container_bg, #container_bgleft, #container_inside, #maincontainer {
	padding: 0;
	margin: 0;
	background: none;
	background-color: transparent;
}

body { overflow-x: hidden; }

/* Blocs conteneurs */
#content {
	width: 424px;
	overflow-x: hidden;
}

.inter { margin-top: 0 !important; }

/* Blocs entourant le jeu Flash */
#swf_ISO_MODULE, #room_col, #cdMainContent, #cdContent, .cdIsoModule, .tracker, body { width: 424px !important; }





/*--------------------*\
  BARRE D'INFO
\*--------------------*/

#topinfo_bar {
	position: relative;
	padding: 0;
	border-bottom: 2px navy solid;
	background-color: #000440;
}

/* Alertes autres que « Alertes ! », nom du personnage et horloge */
#topinfo_bar .alarm ul li:not(:first-child), #topinfo_bar .hero, #topinfo_bar .casio { display: none !important; }

/* Alertes, variables et équipage */
.spaceshipstatus {
	display: block;
	margin: 10px auto;
	text-align: center;
}

table.genstatus td.spaceshipstatus ul li {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
}

.spaceshipstatus img { margin-left: -1px; }

.alarm { margin-right: 3px; }

/* Icône de planète en cas d'exploration */
.alarm_bg li:first-of-type img { margin-right: 5px; }





/*--------------------*\
  ONGLETS
\*--------------------*/

#char_col, #ship_tab, #room_col, #chat_col, #room_tab {
	z-index: 50 !important;
	width: 424px !important;
}

/* Barre d'onglets MushMobile */
#MMtabs { height: 30px; }

#MMtabs li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	line-height: 30px;
	height: 30px;
	width: 70.6px;
	width: calc(424px / 6);
	border: 2px navy solid;
	border-left: none;
	background-color: #66C;
	font-size: 9pt;
	font-variant: small-caps;
	text-align: center;
}

#MMtabs img {
	margin: 3px 2px;
	float: left;
}

#MMtabs li * { vertical-align: middle; }

.MMtabwarning {
	box-sizing: border-box;
	width: 100%;
	padding: 3px 10px;
	background-color: rgba(255, 64, 64, 0.3);
	text-align: center;
}

p.MMtabwarning { border-bottom: 2px solid navy; }





/*--------------------*\
  DIVERS
\*--------------------*/

#MMicon { /* Icône MushMobile */
	position: fixed;
	bottom: 0px;
	right: 0px;
}

/* Écrans couvrant la page entière pour afficher une infobulle/l'icône de chargement */
#MMhelpscreenA, #MMhelpscreenB, #MMloadscreen {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	box-sizing: border-box;
	width: 424px;
	height: 1000px;
	padding-right: 130px;
	padding-top: 2px;
	opacity: 0.6;
	background-color: #000;
	text-align: right;
	font-size: 0.8em;
	color: #5F5;
}

#MMloadscreen {
	padding: 0;
	text-align: center;
}

#MMloadscreen img { margin-top: 50px; }

#content .but { margin-bottom: 30px; }

/* Fenêtre d'alerte (« Vous vous êtes sali… ») */
.poptop {
	position: absolute;
	top: 100px;
	left: 12px;
	width: 400px;
}

/* Fenêtre d'alerte MushMobile, copiée depuis #dialog */
#MMdialog_body { font-size: 10pt; }

/* Barre de liens */
#MMlinks {
	height: 27px;
	padding: 0;
	padding-top: 5px;
	border-top: 2px #000440 solid;
	text-align: center;
	font-size: 10pt;
	font-variant: small-caps;
}

#MMlinks a {
	vertical-align: middle;
	margin-right: 20px;
}

/* Paramètres MushMobile */
#MMparams { /* Bouton Paramètres */
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 2px;
	border: 1px solid white;
	border-radius: 2px;
	background-color: navy;
}

.MMparamsdiv { /* Paramètre */
	margin-bottom: 25px;
	margin-left: 25px;
}

/* Popup MushMobile (pour messages préformatés, paramètres et minimap) */
#MMpopup {
	display: none;
	position: absolute;
	top: 100px;
	left: 12px;
	z-index: 200;
	width: 400px;
	box-sizing: border-box;
	padding: 30px 10px;
	box-shadow: #000 5px 5px 10px;
	border: 2px #000440 solid;
	border-radius: 5px;
	background-color: #338;
}

#MMpopup h3 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.1em;
}

#MMpopup h4 {
	margin-bottom: 30px;
	text-align: center;
	font-variant: small-caps;
}

#MMpopupclose {
	position: absolute;
	top: 5px;
	right: 5px;
}

#MMpopup p {
	margin-top: 30px;
	font-size: 10pt;
}

#MMpopup p.nospace { margin-top: 5px; }

#MMpopup thead { font-size: 0.8em; }

#MMpopup thead td { padding: 15px 5px; }

#MMpopup .but { margin-bottom: 20px; }

.MMcenter { text-align: center; }

#MMlangselect {
	margin-bottom: 20px;
	color: #000;
}

/* Incendie */
.MMfire {
	background-color: #811;
	background: -moz-linear-gradient(bottom, #811 0%, #D71 42%, #EE4 100%);
	background: -webkit-linear-gradient(bottom, #811 0%, #D71 42%, #EE4 100%);
	background: -o-linear-gradient(bottom, #811 0%, #D71 42%, #EE4 100%);
	background: linear-gradient(to top, #811 0%, #D71 42%, #EE4 100%);
}

p.MMfire {
	padding: 5px;
	margin-bottom: 5px;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
	text-align: center;
}

/* Bouton « Afficher la minimap MushMobile » */
#room_col .but { margin-top: 25px; }





/*--------------------*\
  BARRE MUSHMOBILE
\*--------------------*/

#MMbar {
	position: relative;
	width: 100%;
	height: 34px;
	padding-top: 10px;
	font-variant: small-caps;
	font-size: 9pt;
}

#MMbar > * {
	display: inline-block;
	vertical-align: middle;
	padding: 1px;
}

#MMbar .but, .cycletime, .cdShipCasio { margin-left: 4px; }

#MMbar .but { margin-bottom: 0; }

#MMbar .butbg { padding: 0 10px; }


/*-- HORLOGE --*/

.casio * {
	display: inline-block;
	vertical-align: middle;
}

.cycletime {
	float: none;
	margin-right: 0;
}

.cycletime img { display: none; }

/* Bouton Nouveau cycle */
.cdTimeStamp .but { margin-bottom: 0; }





/*--------------------*\
 ONGLET PERSONNAGE
\*--------------------*/

.sheetmain {
	width: auto;
	height: auto;
	padding: 0;
	background: none;
}


/*-- PORTRAIT --*/

#MMcharacterdiv {
	position: relative;
	height: 100px;
	overflow: hidden;
	border-bottom: navy 2px solid;
}

#MMcharacterdiv img.avatar {
	width: 424px;
	height: auto;
	background-position: initial !important;
}

/* Ajustement du portrait dans un cadre de hauteur 100px */

.MMchun     { margin-top: -95px; }

.MMterrence { margin-top: -125px; }

.MMeleesha  { margin-top: -164px; }

.MMfrieda   { margin-top: -164px; }

.MMjin_su   { margin-top: -95px; }

.MMkuan_ti  { margin-top: -77px; }

.MMchao     { margin-top: -123px; }

.MMpaola    { margin-top: -182px; }

.MMgioele   { margin-top: -105px; }

.MMstephen  { margin-top: -115px; }

.MMhua      { margin-top: -128px; }

.MMroland   { margin-top: -128px; }

.MMfinola   { margin-top: -136px; }

.MMraluca   { margin-top: -93px; }

.MMjanice   { margin-top: -169px; }

.MMian      { margin-top: -112px; }

.MMderek    { margin-top: -110px; }

.MMandie    { margin-top: -170px; }

.MMwho { /* Nom */
	position: absolute;
	top: 5px;
	left: 5px;
	margin: 0;
}

.title li { /* Titre */
	display: block;
	margin-left: 15px;
}

#triumph {
	position: absolute;
	right: 10px;
}

#triumph img {
	position: relative;
	top: 4px;
}

#MMcharacterdiv .level {
	position: absolute;
	bottom: -1px;
	right: 0;
	z-index: 100;
	margin: 0;
}

#MMcharacterdiv .gogold {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 35px;
	width: 100%;
	margin: 0;
}

/* Fenêtre d'up de niveau en cours de jeu */
.cdLevelDialog {
	max-width: 400px;
	left: 12px !important;
}

.ui-dialog .ui-dialog-content { overflow: visible; }


/*-- COMPÉTENCES --*/

.sheetmain ul.skills {
	position: relative;
	width: 100%;
	height: 42px;
	margin: 0;
	text-align: center;
}

.skills .but { margin-bottom: 0; }

.skills li {
	display: inline-block !important;
	vertical-align: top !important;
	margin: 0 !important;
}

.skills li:not(:last-of-type) { margin-right: 5px !important; }

/* Conteneurs */
/* skill: compétence bronze ; once_skill: compétence silver ; gold_skill: compétence or */
.once_skill .container, .gold_skill .container, .skill {
	width: 33px;
	height: 28px;
	padding-top: 1px;
}

li.skill { width: 35px !important; }

/* Contenu */
.once_skill .skill_inside, .gold_skill .skill_inside, .skill .skill_inside { /* Image */
	margin: 0;
	margin-left: 5px;
	padding: 0;
}

.skill img { margin: 0 !important; }

.once_skill .basicplus, .gold_skill .basicplus, .skill .basicplus { margin: 3px auto; }

.gold_blocked {
	position: relative;
	top: 1px;
	left: 1px;
}

.genomeBt { margin: 2px auto; }


/*-- STATUTS --*/

.sheetmain ul.statuses {
	position: static;
	width: auto;
	margin-bottom: 15px;
	margin-top: 20px;
	text-align: center;
}

.statuses li { display: inline; }


/*-- ÉNERGIE, SANTÉ ET MORAL --*/

table.pvsm {
	width: auto;
	margin: 5px auto;
}

/* Santé et moral */
.pvsmbar { padding-bottom: 5px; }

.pvsmbar img.what { /* Icônes Santé et Moral */
	float: none;
	position: relative;
	top: 2px;
	left: 4px;
	margin: 0;
}

.pvsmbar span { /* Valeur */
	float: none;
	position: relative;
	bottom: 2px;
	left: 2px;
	margin: 0;
}

/* Énergie */
#MMenergybar { margin-top: 5px; }

#MMenergybar td {
	position: relative;
	top: 3px;
	left: 3px;
	height: 12px;
	padding-left: 3px;
	padding-top: 3px;
}

#MMenergybar img {
	float: left;
	margin-right: 1px;
	transform: rotate(90deg);
}

/* Points d'action spéciaux */
#MMextratd { text-align: center; }

.extrapa {
	margin-right: 10px;
	font-size: 10pt;
}

.extrapa:last-of-type { margin: 0; }


/*-- INVENTAIRE ET ACTIONS PERSO --*/

#myInventory {
	margin-top: 15px;
	text-align: center;
}

#myInventory .item {
	float: none;
	display: inline-block;
	margin-left: 10px;
}

/* Actions */
.stSel { text-align: center; }

.sheetpa { margin: 10px auto; }

.sheetpa, .sheetpabg {
	margin: 10px auto;
	background: none;
}

.sheetpa .but {
	width: auto;
	margin-left: 0;
}






/*------------------*\
  ONGLET VAISSEAU
\*------------------*/

/*-- ALERTES --*/

#MMalerts {
	width: 350px;
	padding: 2px;
	margin: 10px auto;
	border-radius: 5px;
}

.MMnoalert {
	background-color: rgba(0, 255, 0, 0.5);
	font-variant: small-caps;
	font-size: 12pt;
	
	animation: alertoff 2s infinite;
	-moz-animation: alertoff 2s infinite;
	-webkit-animation: alertoff 2s infinite;
}

.MMalerton {
	background-color: rgba(255, 0, 0, 0.5);
	
	animation: alerton 2s infinite;
	-moz-animation: alerton 2s infinite;
	-webkit-animation: alerton 2s infinite;
}

@keyframes alerton {
	0% { background-color: rgba(255, 0, 0, 0.5); }
	
	50% { background-color: transparent; }
	
	100% { background-color: rgba(255, 0, 0, 0.5); }
}

@keyframes alertoff {
	0% { background-color: rgba(0, 255, 0, 0.5); }
	
	50% { background-color: rgba(0, 150, 0, 0.5); }
	
	100% { background-color: rgba(0, 255, 0, 0.5); }
}

#MMalerts > li:first-child { /* « ALERTES : » */
	text-align: center;
	font-size: 12pt;
	font-variant: small-caps;
}

#MMalerts > li:not(:first-child) { margin-bottom: 5px; }

#MMalerts h1 { font-size: 12pt; }

#MMalerts h1 img { margin-right: 5px; }

#MMalerts .char { /* Équipier perdu */
	height: 15px;
	width: 24px;
	margin-left: -5px;
	background: url("http://mush.vg/img/art/char.png");
}

.MMhidden_alerts, .MMshown_alerts { position: relative; }

.MMalertexpand {
	margin-left: 10px;
	color: black;
	font-size: 8pt;
}

/* Rapports d'alerte, montrés par clic */
.MMhidden_alerts ul { display: none; }


/*-- CADRE D'EXPÉDITION --*/

.exploring {
	position: relative;
	top: 0;
	margin: auto;
}


/*-- PROJETS, RECHERCHES & PILGRED --*/

/* Deux blocs séparant les projets, les recherches et le PILGRED sur trois lignes */
.MMcardsbreak { display: block !important; }

/* Ancien bloc de cartes projets/recherches */
#cdBottomBlock { display: none; }





/*--------------------*\
  ONGLET PIÈCE
\*--------------------*/

/*-- DÉPLACEMENT --*/

.MMbrokendoor { background-color: red; }

#room_tab select { color: black; }


/*-- ÉQUIPEMENTS ET CAMARADES --*/

/* Bloc de camarades */
#MMheroes { margin: 10px 5px; }

.MMheroblock { /* Camarade */
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

.MMheroblock img:not(:first-of-type) {
	position: absolute;
	top: 0;
	left: 0;
}

/* Camarade couché */
.MMlaid:not(:first-of-type) { margin-left: -22px; }


/*-- INVENTAIRE MUSHMOBILE --*/

/* Inventaire */
#MMcdInventory {
	visibility: visible !important; /* Parfois invisible pour des raisons inconnues */
	margin-top: 10px;
}

#MMroom { width: 5000px; }

.MMselected { /* Halo de sélection d'item */
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: 0;
	margin-top: 0;
	border: 3px solid #99FF99;
	border-radius: 2px;
	cursor: pointer;
}

/* Titre d'item / équipement / camarade */
#MMitemdesc {
	width: 90%;
	margin: 5px auto;
}

#MMitemdesc > div { margin-left: 50px; }

/*-- ACTIONS --*/

#MMcdInventory .itemactionstop { margin-top: 25px; }

/* Cadre de présentation d'un camarade */
.inv .selectplayer { margin-top: 0; }





/*--------------------*\
  ÉDITEUR DE MESSAGES
\*--------------------*/

#MMeditortext {
	width: 100%;
	height: 200px;
	margin-top: 20px;
	color: black;
}

#MMeditor #tid_wallPost { /* textarea */
	width: 100%;
	min-height: 100px;
	color: black;
}

#MMeditor #tid_wallPost_preview { /* Prévisualisation */
	max-height: 200px;
	overflow: auto;
	margin: 10px 0;
	padding: 5px;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	background-color: #BBF;
}

#MMeditor .tid_smileyPanel { margin-bottom: 20px; }

#MMeditor .but { margin-bottom: 20px; }

/* Boutons rajoutés */
.tid_editorButtons .but {
	display: inline-block;
	margin-bottom: 0 !important;
	margin-left: 10px;
}

.tid_editorButtons .but:first-of-type { margin-left: 20px; }

/* Recherche pour la balise Joueur & sélection d'un message préformaté */
input.tid_withFriends, { color: black; }

/* Smileys Mush */
#MMsmileysblock {
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	border: 1px black solid;
}

#MMsmileysblock img { margin: 5px; }

/* Messages préformatés */
#MMpremessages {
	margin-bottom: 20px;
	color: black;
}

/* Boutons « Coller » dans l'onglet Chat */
.MMhidepaste .MMpastebutton { display: none; }

.MMshowpaste .MMpastebutton { display: block; }





/*--------------------*\
  MINIMAP
\*--------------------*/

#MMminimapbloc {
	position: relative;
	margin: 5px 28px;
	padding: 0;
}

.MMmaproom {
	fill: #FFF;
	stroke: #000;
	stroke-width: 1;
}

.MMmapfire {
	fill: #F00;
	background-color: #F00;
	padding: 0 2px;
	stroke: #000;
	stroke-width: 1;
}

.MMmapdoor {
	stroke: #11F;
	stroke-width: 3;
}

.MMmapdoorbroken {
	stroke: #F55;
	stroke-width: 3;
}

.MMmapalertd { color: #FA0; }

.MMmapalerte { color: #0AF; }

#MMmapselected { fill: #0FA; }